<!DOCTYPE html>
<html class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>留言板块</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"  th:href="@{/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="/static/css/icons.css">
	<link rel="stylesheet" type="text/css"  th:href="@{/static/css/style.css}" href="/static/css/style.css"  />
	<link rel="stylesheet" type="text/css" href="/static/css/responsive.css" th:href="@{/static/css/responsive.css}"/>
	<link rel="stylesheet" type="text/css" href="/static/css/color.css" th:href="@{/static/css/color.css}"/>
	<link rel="stylesheet" type="text/css" href="/static/css/content.css" th:href="@{/static/css/content.css}"/>
</head>
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/html5lightbox.js"></script>
	<script src="/static/js/script.js" type="text/javascript"></script>
	<script src="/static/js/layer/layer.js" type="text/javascript"></script>
	<script src="/static/js/laypage/laypage.js" type="text/javascript"></script>
<body>
	<div class="theme-layout">
		<header>
		<div th:include="views/head/heads :: copy"></div> 
		</header><!-- Header -->

		<div class="responsive-header">
			<div class="topbar">
				<span>For Free Consultation: <i>+(011) 345 6789</i></span>
				<span>
					Stay Connected: 
					<span class="socials">
						<a href="#" title=""><i class="fa fa-facebook"></i></a>
						<a href="#" title=""><i class="fa fa-twitter"></i></a>
						<a href="#" title=""><i class="fa fa-linkedin"></i></a>
					</span>
				</span>

				<div class="registration">
					<a href="#" title="">Register</a> <a href="#" title="">Sign in</a>
				</div>
			</div><!-- Top Bar -->
		
			<div class="responsive-logobar">
				<div class="responsive-logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>
				<a class="menu-button" href="#" title=""><i class="fa fa-bars"></i></a>
			</div><!-- Responsive Logbar -->
			<div class="responsive-menu">
				<a class="close-menu" href="#" title=""><i class="fa fa-remove"></i></a>
				<ul>
					<li><a href="#" title="">Home</a>
						<ul>
							<li><a href="index.html" title="">Homepage Style 1</a></li>
							<li><a href="index2.html" title="">Homepage Style 2</a></li>
						</ul>
					</li>
					<li><a href="#" title="">Pages</a>
						<ul>
							<li><a href="blog.html" title="">Blog</a>
								<ul>
									<li><a href="blog.html" title="">Blog Page</a></li>
									<li><a href="blog-details.html" title="">Blog Detail Page</a></li>
								</ul>
							</li>
							<li><a href="events.html" title="">Events</a>
								<ul>
									<li><a href="events.html" title="">Events Page</a></li>
									<li><a href="event-detail.html" title="">Event Detail Page</a></li>
								</ul>
							</li>
							<li><a href="team.html" title="">Team</a>
								<ul>
									<li><a href="team.html" title="">Team Page</a></li>
									<li><a href="team-detail.html" title="">Team Detail Page</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="courses.html" title="">Courses</a>
						<ul>
							<li><a href="courses.html" title="">Courses Page Style 1</a></li>
							<li><a href="courses2.html" title="">Courses Page Style 2</a></li>
							<li><a href="course-detail.html" title="">Courses Detail</a></li>
						</ul>
					</li>
					<li><a href="gallery1.html" title="">Gallery Styles</a>
						<ul>
							<li><a href="gallery1.html" title="">Gallery Style 1</a></li>
							<li><a href="gallery2.html" title="">Gallery Style 2</a></li>
							<li><a href="gallery3.html" title="">Gallery Style 3</a></li>
						</ul>
					</li>
					<li><a href="about.html" title="">About Us</a></li>
					<li><a href="contact.html" title="">Contact Us</a></li>
				</ul>
			</div>			
		</div><!-- Responsive Header -->

		<div class="pagetop">
			<img src="/static/images/resource/pagetop.jpg" alt="" />
			<div class="pagetop-inner">
				<div class="container">
					<h1>留言</h1>
					<ul class="breadcrumbs">
						<li><a href="index.html" title=""><i class="fa fa-home"></i> Home</a></li>
						<li> <a href="addcomments.html" title="">发表留言</li>
					</ul>
				</div>
			</div>
		</div><!-- PageTop -->

		<section>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="edu-blog">
								<div class="row">
								
							
							<div class="row">
    							 <div class="col-xs-12 col-md-12" style="">
    							 
    							 <div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header" style="line-height:40px;height:40px; border-bottom:1px solid #d7d7d7; background:#f7f7f7;">
				<dl class="icon">
					<dt style="text-align:center;width:90px;">留言编号</dt>
					<dd class="posts" style="width:220px;">留言标题</dd>					
					<!-- <dd class="posts" style="width:220px;">受理状态</dd> -->
					<!-- <dd class="views" style="width:90px;">阅读次数</dd> -->
					<dd class="posts" style="width:220px;">detail</dd>
					<dd class="lastpost" style="text-align:center;width:250px;"><span>留言时间</span></dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
	

		<li th:each="v,iterStat : ${list}"  style=" padding-top:15px; padding-bottom:15px; border-bottom:1px dotted #e6e6e6;  color:#5c5c5c;line-height:26px;">
			<dl>
				<dt style="line-height:2.2em;font-size:1.2em;width:90px;text-align:center;" th:text="${v.id}">708575</dt>
				<dd class="views" style="width:220px;">
				<a  th:text="${v.title}"  class="topictitle" style="color:#000;font-weight:normal;padding-left:14px;">
				镇平教育质量提高需解决根本问题</a>
				
				</dd>
				<!-- <dd class="posts" style="width:220px;"><span style="color:#006600;" th:text="${v.status} " >未回复</span></dd> -->
				<dd class="posts" style="width:220px;"><span style="color:#006600;" th:text="${v.descirption} " >*</span></dd>
				<dd class="views" style="text-align:center;width:250px;">
				<span th:text="${#dates.format(v.createdate,'yyyy-MM-dd')}">2018-10-30  12:39</span>
				</dd>
			</dl>
		</li>

	
			</ul>
		<span class="corners-bottom"><span></span></span></div>
    							 
							 	</div>
							</div>
							
							<div id="page" class="pagination" style="float: right"></div>
							
							
						</div>
					</div>
				</div>
			</div>
		</section>


		
		<footer>
			<div th:include="views/head/footer :: copyfooter"></div> 
		</footer><!-- Footer -->

		 <div  class="bottom-footer">
			<div th:include="views/head/bottom-footer :: bottom"></div> 
		</div><!-- Bottom Footer -->
		<input type="hidden" id="count" name="count" th:value="${count}">
	</div>


	<script>
    $(function(){
        laypage({
            cont: 'page',
            pages: $('#count').val(),
            // skip: true, //是否开启跳页
            curr: function(){
                var page = location.search.match(/page=(\d+)/);
                return page ? page[1] : 1;
            }(),
            skin: '#AF0000',
            groups: 5, //连续显示分页数
            jump: function(e, first){ //触发分页后的回调
                if(!first){ //一定要加此判断，否则初始时会无限刷新
                    location.href = '?page='+e.curr;
                }
            }
        });
    });
</script>
</body>
</html>


