<!DOCTYPE html>
<html>
  <head>
    <title>footer.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
  <div th:fragment="copyfooter" class="container">
				<div class="footer-widgets">
					<div class="row">
						<div class="col-md-4">
							<div class="widget">
								<div class="about-widget">
									<div class="widget-logo"><a href="#" title=""><img src="/static/images/logo2.png" alt="" /></a></div>
									<p>Rem iplsum dolor sit amet, consectetuer adipiscin gelit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat euimod....</p>
									<ul>
										<li><span><i class="fa fa-map-marker"></i></span> Washington NY, United States. </li>
										<li><span><i class="fa fa-envelope"></i></span> Support@domain.com </li>
										<li><span><i class="fa fa-phone"></i></span> (123)+ 124 45 67 678  </li>
									</ul>
								</div>
							</div><!-- Widget -->
						</div>
						<div class="col-md-2">
							<div class="widget">
								<div class="widget-title">
									<h5><i>EDU</i> Information</h5>
									<span>Our Programs</span>
								</div>
								<ul>
									<li><a href="#" title=""><i class="fa fa-bookmark"></i> Arts & Social Sciences</a></li>
									<li><a href="#" title=""><i class="fa fa-bookmark"></i> Sciences</a></li>
									<li><a href="#" title=""><i class="fa fa-bookmark"></i> Studies & Language</a></li>
									<li><a href="#" title=""><i class="fa fa-bookmark"></i> Pharmacy</a></li>
									<li><a href="#" title=""><i class="fa fa-bookmark"></i> Veterinary Science</a></li>
									<li><a href="#" title=""><i class="fa fa-bookmark"></i> Engineering</a></li>
								</ul>
							</div><!-- Widget -->
						</div>
						<div class="col-md-3">
							<div class="widget">
								<div class="widget-title">
									<h5><i>EDU</i> Gallery Posts</h5>
									<span>Education Images</span>
								</div>
								<div class="edu-gallery">
								</div>

							</div><!-- Widget -->
						</div>
						<div class="col-md-3">
							<div class="widget">
								<div class="widget-title">
									<h5><i>EDU</i> Newsletter</h5>
									<span>For any updates</span>
								</div>
								<div class="newsletter-widget">
									<p>Rem iplsum dolor sit amet, consectetuer sed diam nonummy nibh euismod.</p>
									<form>
										<input type="text" placeholder="Your Email Address" />
										<button class="button active small">Submit Now</button>
									</form>
								</div>
							</div><!-- Widget -->
						</div>					
					</div>
				</div>
			</div>
  
  </body>
</html>
