<!DOCTYPE html>
<html>
  <head>
    <title>head.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
<!-- Styles -->
<!-- Styles -->
		
  </head>
  
  <body>
  
			<div  th:fragment="copy" class="container">
				<div class="logo"><a href="#" title=""><img src="/static/images/logo.png" alt="" /></a></div><!-- Logo -->
				<div class="header-wrap">
					<div class="topbar">
						<span>For Free Consultation: <i>+(011) 345 6789</i></span>
						<span>
							Stay Connected: 
							<span class="socials">
								<a href="#" title=""><i class="fa fa-facebook"></i></a>
								<a href="#" title=""><i class="fa fa-twitter"></i></a>
								<a href="#" title=""><i class="fa fa-linkedin"></i></a>
							</span>
						</span>

						<div class="registration">
						
						
							<a href="register.html" title="" th:unless="${session.user} ne null" >Register</a>
							
							 <a href="login.html" th:unless="${session.name} ne null"  title="">Sign in</a>
							  <a th:href="@{/logout}" th:if="${session.user}"  title="">Log out</a>
							  <span th:if="${session.user}">
							  
		 						<a th:href="@{/{id}/info(id=${session.user.id})}"  >Info</a>
							  </span>>
							    
							   <a th:href="@{/admin_login.html}" th:unless="${session.user} ne null"  title="">后台</a>
							   
							   <a th:href="@{/admin_index.html}" th:if="${session.user} ne null"  title="">后台</a>
							  <a th:href="@{/{id}/updateinfo(id=${session.user.id})}" th:if="${session.user} " title="" th:text="'欢迎'+ ${session.name} + '!'">Log out</a>
							 <!--  <a th:href="@{/login}" th:if="${session.user}" >Login</a> -->
						</div>
					</div><!-- Top Bar -->

					<div class="menubar">
						<nav>
							<ul>
								<li><a href="index.html" title="">Home</a></li>
								<li><a href="courses.html?page=1" title="">Courses</a></li>
								<li><a href="news.html?page=1" title="">News</a></li>
								<li><a href="video.html?page=1&limit=3" title="">Video Courses</a></li>
								<li><a href="position.html?page=1" title="">Position</a></li>
								<li><a href="comment.html?page=1" title="">Comment</a></li>
								<!-- <li><a href="gallery.html" title="">Gallery Styles</a></li>
								<li><a href="about.html" title="">About Us</a></li>
								<li><a href="contact.html" title="">Contact Us</a></li> -->

							</ul>
						</nav>
						<div class="header-search">
							<a class="search-btn" href="#" title=""><i class="icon-magnifier"></i></a>
							<form>
								<input placeholder="Enter Your Keyword and Press Enter" type="text">
							</form>
						</div><!-- Header Search -->
					</div>
				</div><!-- Header Wrap -->
			</div>
  </body>
</html>
