<!DOCTYPE html>
<html class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>课程报名</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"  th:href="@{/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="/static/css/icons.css">
	<link rel="stylesheet" type="text/css"  th:href="@{/static/css/style.css}" href="/static/css/style.css"  />
	<link rel="stylesheet" type="text/css" href="/static/css/responsive.css" th:href="@{/static/css/responsive.css}"/>
	<link rel="stylesheet" type="text/css" href="/static/css/color.css" th:href="@{/static/css/color.css}"/>
</head>
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/html5lightbox.js"></script>
	<script src="/static/js/script.js" type="text/javascript"></script>
	<script src="/static/js/layer/layer.js" type="text/javascript"></script>
	<script src="/static/js/laypage/laypage.js" type="text/javascript"></script>

<body>
	<div class="theme-layout">
		<header>
		<div th:include="views/head/heads :: copy"></div> 
		</header><!-- Header -->

		<div class="responsive-header">
			<div class="topbar">
				<span>For Free Consultation: <i>+(011) 345 6789</i></span>
				<span>
					Stay Connected: 
					<span class="socials">
						<a href="#" title=""><i class="fa fa-facebook"></i></a>
						<a href="#" title=""><i class="fa fa-twitter"></i></a>
						<a href="#" title=""><i class="fa fa-linkedin"></i></a>
					</span>
				</span>

				<div class="registration">
					<a href="#" title="">Register</a> <a href="#" title="">Sign in</a>
				</div>
			</div><!-- Top Bar -->
		
			<div class="responsive-logobar">
				<div class="responsive-logo"><a href="#" title=""><img src="/static/images/logo.png" alt="" /></a></div>
				<a class="menu-button" href="#" title=""><i class="fa fa-bars"></i></a>
			</div><!-- Responsive Logbar -->
			<div class="responsive-menu">
				<a class="close-menu" href="#" title=""><i class="fa fa-remove"></i></a>
				<ul>
					<li><a href="#" title="">Home</a>
						<ul>
							<li><a href="index.html" title="">Homepage Style 1</a></li>
							<li><a href="index2.html" title="">Homepage Style 2</a></li>
						</ul>
					</li>
					<li><a href="#" title="">Pages</a>
						<ul>
							<li><a href="blog.html" title="">Blog</a>
								<ul>
									<li><a href="blog.html" title="">Blog Page</a></li>
									<li><a href="blog-details.html" title="">Blog Detail Page</a></li>
								</ul>
							</li>
							<li><a href="events.html" title="">Events</a>
								<ul>
									<li><a href="events.html" title="">Events Page</a></li>
									<li><a href="event-detail.html" title="">Event Detail Page</a></li>
								</ul>
							</li>
							<li><a href="team.html" title="">Team</a>
								<ul>
									<li><a href="team.html" title="">Team Page</a></li>
									<li><a href="team-detail.html" title="">Team Detail Page</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="courses.html" title="">Courses</a>
						<ul>
							<li><a href="courses.html" title="">Courses Page Style 1</a></li>
							<li><a href="courses2.html" title="">Courses Page Style 2</a></li>
							<li><a href="course-detail.html" title="">Courses Detail</a></li>
						</ul>
					</li>
					<li><a href="gallery1.html" title="">Gallery Styles</a>
						<ul>
							<li><a href="gallery1.html" title="">Gallery Style 1</a></li>
							<li><a href="gallery2.html" title="">Gallery Style 2</a></li>
							<li><a href="gallery3.html" title="">Gallery Style 3</a></li>
						</ul>
					</li>
					<li><a href="about.html" title="">About Us</a></li>
					<li><a href="contact.html" title="">Contact Us</a></li>
				</ul>
			</div>			
		</div><!-- Responsive Header -->

		<div class="pagetop">
			<img src="/static/images/resource/pagetop.jpg" alt="" />
			<div class="pagetop-inner">
				<div class="container">
					<h1>Education Courses</h1>
					<ul class="breadcrumbs">
						<li><a href="#" title=""><i class="fa fa-home"></i> Home</a></li>
						<li>Courses</li>
					</ul>
				</div>
			</div>
		</div><!-- PageTop -->

		<section>
			<div class="block less-space gray">
				<div class="container">
					<div class="row">
						<div class="col-md-offset-1 col-md-3">
							<div class="column-title">
								<i>It's Time To Change In Yourself</i>
								<h2>Find Next Course To <span>Boot Your Career</span></h2>
							</div>
						</div>

						<div class="col-md-8">
							<div class="search-course style2">
									<div class="row">
										<div class="col-md-8"><input type="text"  id="name" th:value="${name}" placeholder="Enter Your Course Name" /></div>
										<div class="col-md-4"><button id="submitAdd" onclick="select()" class="button active">Search Now</button></div>
									</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</section>


		<section>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="featured-courses">
								<div class="row">
								
									<div  th:each="v,iterStat : ${list}" class="col-md-4">
										<!-- <div class="edu-course">
											<div class="edu-img"><img th:src="@{/static/images/resource/c2.jpg}" src="/static/images/resource/c2.jpg" alt="" /></div>
											<div class="edu-detail">
												<h3><a href="#" title="" th:text="${v.name}">Objectives Should Be Stated Clearly</a></h3>
												<p th:text="${v.descirption}">Vestibulum at magna tellus. Vivamus sag ittis et nunc ut in orci aliquam, ac vulputa leo vehicula sagittis et nunc.</p>
												<div class="course-bar">
													<span th:text="${v.price}">$450.00</span>
													<div class="admin-name">
													<input type="hidden" name="id" id="id" th:value="${v.id}">
													<a th:href="@{'watchvideo.html?id='+${v.id}}" >watch</a>
													 </div>
												</div>
											</div>
										</div>Edu Course -->
										
										
										<div class="edu-course">
											<div class="edu-img"><img src="/static/images/resource/c2.jpg" alt="" /></div>
											<div class="edu-detail">
												<h3><a href="#" title="" th:text="${v.name}">Objectives Should Be Stated Clearly</a></h3>
												<p th:text="${v.descirption}">Vestibulum at magna tellus. Vivamus sag ittis et nunc ut in orci aliquam, ac vulputa leo vehicula sagittis et nunc.</p>
												<p  th:attr="id=${v.id+'num'}" th:text="${v.num+'人'}"></p>
												<div class="course-bar">
													<span th:text="${v.price}">$450.00</span>
													<input type="hidden" id="showmessage" name="id" >
													<div class="admin-name"><button type="button" class="Signup"  th:attr="id=${v.id}"  style="" >详情</button> </div>
												</div>
											</div>
										</div><!-- Edu Course -->
										
										
										
										
									</div>
									</div>
								</div>
							</div><!-- Featured Courses -->
							
							<div id="page" class="pagination" style="float: right"></div>
							
						</div>
					</div>
				</div>
			</div>
		</section>
	
		<footer>
			<div th:include="views/head/footer :: copyfooter"></div> 
		</footer><!-- Footer -->

		 <div  class="bottom-footer">
			<div th:include="views/head/bottom-footer :: bottom"></div> 
		</div><!-- Bottom Footer -->
		<input type="hidden" id="count" name="count" th:value="${count}">
		<div th:if="${session.user} != null">
		<input type="hidden" id="userid" name="userid" th:value="${session.user.id}">
		</div> 
	</div>

	
</body>
</html>
<script>
    $(function(){
    
		$("#submitAdd").click(function(){

		   layer.alert("请1");
 			var name=$('#name').val();
			if(name!=null&&name!=''){
			 location.href = 'courses.html?page=1&type='+name;
			}else{
			layer.alert("请输入正确的课程名称");
			}
		
		});
		$(".Signup").click(function(){
				var id=$(this).attr('id');
				alert(id+'id');
				if(id>0){
				location.href = 'courses_detail.html?id='+id;		
				}else{
				location.href = 'courses.html?page=1';	
				}
		});
		
		    
        laypage({
            cont: 'page',
            pages: $('#count').val(),
            // skip: true, //是否开启跳页
            curr: function(){
                var page = location.search.match(/page=(\d+)/);
                return page ? page[1] : 1;
            }(),
            skin: '#AF0000',
            groups: 5, //连续显示分页数
            jump: function(e, first){ //触发分页后的回调
                if(!first){ //一定要加此判断，否则初始时会无限刷新
                
                var name=$('#name').val();
				if(name!=null&&name!=''){
				 location.href = '?page=1&type='+name;
				}else{
				location.href = '?page='+e.curr;
				}
                    
                }
            }
        });
    });
</script>

