<!DOCTYPE html>
<html>
  <head>
    <title>login.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"  th:href="@{/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="/static/css/icons.css">
	<link rel="stylesheet" type="text/css"  th:href="@{/static/css/style.css}" href="/static/css/style.css"  />
	<link rel="stylesheet" type="text/css" href="/static/css/responsive.css" th:href="@{/static/css/responsive.css}"/>
	<link rel="stylesheet" type="text/css" href="/static/css/color.css" th:href="@{/static/css/color.css}"/>

	
  </head>
   <script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
 /*    $("div").html("");
    $("a").click(function(){
//add your code here
    }) */
    $("#submitAdd").click(function(){
	  var targetUrl = $("#registerform").attr("action");    
	  var data = $("#registerform").serialize();
	  var email=$("#email").val();
	  var password=$("#password").val();
	  var postdata = {email:email,password:password};
	  var dealdata=JSON.stringify(data);
	  var pdata=JSON.stringify(postdata);
	  
	  console.log(dealdata); 
	  console.log(pdata); 
	   $.ajax({ 
	    type:'post',  
	    url:targetUrl, 
	    cache: false,
	    data:pdata,  
	   dataType : 'json',
    	 contentType: "application/json; charset=utf-8",
	    success:function(data){
	    	if(data.state==1){
	    		 alert('login success');
	    		 setTimeout(function(){ window.open("index.html","_self"); }, 2000); 
	    	}else{
	    		 alert('login error，Please check if the input is correct');
	    	}
	    },
	    error:function(){ 
	     alert("login error，Please check if the input is correct ")
	    }
	   })
	    
	})
})
	
</script>
  <body>
  	 <div class="theme-layout">
  	 
		<header>
		<div th:include="views/head/heads :: copy"></div> 
		
		</header><!-- Header -->
		
		<div class="container">
			<div class="content">
      	     <div class="register">
		  	  <form id="registerform" action="loginuser"> 
				 <div class="register-top-grid">
					<h3>Personal Information</h3>
					
					 <div>
						 <span>Email <label>*</label></span>
						 <input type="text" id="email"  name="email"> 
					 </div>
					 <div class="clearfix"> </div>
					 </div>
				     <div class="register-bottom-grid">
						    <h3>Login Information</h3>
							 <div>
								<span>Password<label>*</label></span>
								<input type="password" id="password"  name="password">
							 </div>
							 <div class="clearfix"> </div>
					 </div>
				</form>
				<div class="clearfix"> </div>
				<div class="register-but">
						<button type="button" id="submitAdd" style="" >submit</button> 
					  <!--  <input type="submit" value="submit"> -->
					   <div class="clearfix"> </div>
				</div>
		   </div>
           </div>
    </div>
		
		</div> 
		
		<footer>
			<div th:include="views/head/footer :: copyfooter"></div> 
		</footer><!-- Footer -->

		 <div  class="bottom-footer">
			<div th:include="views/head/bottom-footer :: bottom"></div> 
		</div><!-- Bottom Footer -->
		
		
</div> 
  </body>
</html>
