<!DOCTYPE html>
<html class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>News</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"  th:href="@{/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="/static/css/icons.css">
	<link rel="stylesheet" type="text/css"  th:href="@{/static/css/style.css}" href="/static/css/style.css"  />
	<link rel="stylesheet" type="text/css" href="/static/css/responsive.css" th:href="@{/static/css/responsive.css}"/>
	<link rel="stylesheet" type="text/css" href="/static/css/color.css" th:href="@{/static/css/color.css}"/>
</head>
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/html5lightbox.js"></script>
	<script src="/static/js/script.js" type="text/javascript"></script>
	<script src="/static/js/layer/layer.js" type="text/javascript"></script>
	<script src="/static/js/laypage/laypage.js" type="text/javascript"></script>
<body>
	<div class="theme-layout">
		<header>
		<div th:include="views/head/heads :: copy"></div> 
		</header><!-- Header -->

		<div class="responsive-header">
			<div class="topbar">
				<span>For Free Consultation: <i>+(011) 345 6789</i></span>
				<span>
					Stay Connected: 
					<span class="socials">
						<a href="#" title=""><i class="fa fa-facebook"></i></a>
						<a href="#" title=""><i class="fa fa-twitter"></i></a>
						<a href="#" title=""><i class="fa fa-linkedin"></i></a>
					</span>
				</span>

				<div class="registration">
					<a href="#" title="">Register</a> <a href="#" title="">Sign in</a>
				</div>
			</div><!-- Top Bar -->
		
			<div class="responsive-logobar">
				<div class="responsive-logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>
				<a class="menu-button" href="#" title=""><i class="fa fa-bars"></i></a>
			</div><!-- Responsive Logbar -->
			<div class="responsive-menu">
				<a class="close-menu" href="#" title=""><i class="fa fa-remove"></i></a>
				<ul>
					<li><a href="#" title="">Home</a>
						<ul>
							<li><a href="index.html" title="">Homepage Style 1</a></li>
							<li><a href="index2.html" title="">Homepage Style 2</a></li>
						</ul>
					</li>
					<li><a href="#" title="">Pages</a>
						<ul>
							<li><a href="blog.html" title="">Blog</a>
								<ul>
									<li><a href="blog.html" title="">Blog Page</a></li>
									<li><a href="blog-details.html" title="">Blog Detail Page</a></li>
								</ul>
							</li>
							<li><a href="events.html" title="">Events</a>
								<ul>
									<li><a href="events.html" title="">Events Page</a></li>
									<li><a href="event-detail.html" title="">Event Detail Page</a></li>
								</ul>
							</li>
							<li><a href="team.html" title="">Team</a>
								<ul>
									<li><a href="team.html" title="">Team Page</a></li>
									<li><a href="team-detail.html" title="">Team Detail Page</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="courses.html" title="">Courses</a>
						<ul>
							<li><a href="courses.html" title="">Courses Page Style 1</a></li>
							<li><a href="courses2.html" title="">Courses Page Style 2</a></li>
							<li><a href="course-detail.html" title="">Courses Detail</a></li>
						</ul>
					</li>
					<li><a href="gallery1.html" title="">Gallery Styles</a>
						<ul>
							<li><a href="gallery1.html" title="">Gallery Style 1</a></li>
							<li><a href="gallery2.html" title="">Gallery Style 2</a></li>
							<li><a href="gallery3.html" title="">Gallery Style 3</a></li>
						</ul>
					</li>
					<li><a href="about.html" title="">About Us</a></li>
					<li><a href="contact.html" title="">Contact Us</a></li>
				</ul>
			</div>			
		</div><!-- Responsive Header -->

		<div class="pagetop">
			<img src="images/resource/pagetop.jpg" alt="" />
			<div class="pagetop-inner">
				<div class="container">
					<h1>News</h1>
					<ul class="breadcrumbs">
						<li><a href="index.html" title=""><i class="fa fa-home"></i> Home</a></li>
						<li>news</li>
					</ul>
				</div>
			</div>
		</div><!-- PageTop -->



		<section>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="edu-blog">
								<div class="row">
								
								
									<div  th:each="v,iterStat : ${list}"  class="col-md-4">
										<div class="edu-post">
											<div class="post-img"><img src="/static/images/resource/c5.jpg" alt="" /></div>
											<div class="post-detail">
											
												<span th:text="${#dates.format(v.createdate,'yyyy-MM-dd')}">02 November 2016</span>
												<h3><a href="#" title="" th:text="${v.title}">The Surprising Reason College Tuition Is Crazy Expensive</a></h3>
												<ul class="meta">
													<li><a href="#" title="" th:text="${v.num}">03 Comment</a></li>
													<li th:text="'By:'+${v.authors}">By: Addam Smith</li>
													<li><a th:href="@{'news_detail.html?id='+${v.id}}" title="" ">News detail</a></li>
												</ul>
												<p th:text="${v.descirption}">Estibulum orci felis, ullamcorper non condimentum ultrices ac nunc. Mauris non ligula suscipit, vulputa mi accumsan, dapibus felis. </p>
											</div>
										</div><!-- Edu Post -->
										
									 </div>
									</div>
								</div>
							</div><!-- Edu Blog -->
							
							<div id="page" class="pagination" style="float: right"></div>
							
							
						</div>
					</div>
				</div>
			</div>
		</section>


		
		<footer>
			<div th:include="views/head/footer :: copyfooter"></div> 
		</footer><!-- Footer -->

		 <div  class="bottom-footer">
			<div th:include="views/head/bottom-footer :: bottom"></div> 
		</div><!-- Bottom Footer -->
		<input type="hidden" id="count" name="count" th:value="${count}">
	</div>


	<script>
    $(function(){
        laypage({
            cont: 'page',
            pages: $('#count').val(),
            // skip: true, //是否开启跳页
            curr: function(){
                var page = location.search.match(/page=(\d+)/);
                return page ? page[1] : 1;
            }(),
            skin: '#AF0000',
            groups: 5, //连续显示分页数
            jump: function(e, first){ //触发分页后的回调
                if(!first){ //一定要加此判断，否则初始时会无限刷新
                    location.href = '?page='+e.curr;
                }
            }
        });
    });
</script>
</body>
</html>


