<!DOCTYPE html>
<html class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>职位列表</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"  th:href="@{/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="/static/css/icons.css">
	<link rel="stylesheet" type="text/css"  th:href="@{/static/css/style.css}" href="/static/css/style.css"  />
	<link rel="stylesheet" type="text/css" href="/static/css/responsive.css" th:href="@{/static/css/responsive.css}"/>
	<link rel="stylesheet" type="text/css" href="/static/css/color.css" th:href="@{/static/css/color.css}"/>
	<link rel="stylesheet" type="text/css"  th:href="@{/static/css/aili.css}" href="/static/css/aili.css"  />
</head>
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/html5lightbox.js"></script>
	<script src="/static/js/script.js" type="text/javascript"></script>
	<script src="/static/js/layer/layer.js" type="text/javascript"></script>
	<script src="/static/js/laypage/laypage.js" type="text/javascript"></script>
<body>
	<div class="theme-layout">
		<header>
		<div th:include="views/head/heads :: copy"></div> 
		</header><!-- Header -->

		<div class="responsive-header">
			<div class="topbar">
				<span>For Free Consultation: <i>+(011) 345 6789</i></span>
				<span>
					Stay Connected: 
					<span class="socials">
						<a href="#" title=""><i class="fa fa-facebook"></i></a>
						<a href="#" title=""><i class="fa fa-twitter"></i></a>
						<a href="#" title=""><i class="fa fa-linkedin"></i></a>
					</span>
				</span>

				<div class="registration">
					<a href="#" title="">Register</a> <a href="#" title="">Sign in</a>
				</div>
			</div><!-- Top Bar -->
		
			<div class="responsive-logobar">
				<div class="responsive-logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>
				<a class="menu-button" href="#" title=""><i class="fa fa-bars"></i></a>
			</div><!-- Responsive Logbar -->
			<div class="responsive-menu">
				<a class="close-menu" href="#" title=""><i class="fa fa-remove"></i></a>
				<ul>
					<li><a href="#" title="">Home</a>
						<ul>
							<li><a href="index.html" title="">Homepage Style 1</a></li>
							<li><a href="index2.html" title="">Homepage Style 2</a></li>
						</ul>
					</li>
					<li><a href="#" title="">Pages</a>
						<ul>
							<li><a href="blog.html" title="">Blog</a>
								<ul>
									<li><a href="blog.html" title="">Blog Page</a></li>
									<li><a href="blog-details.html" title="">Blog Detail Page</a></li>
								</ul>
							</li>
							<li><a href="events.html" title="">Events</a>
								<ul>
									<li><a href="events.html" title="">Events Page</a></li>
									<li><a href="event-detail.html" title="">Event Detail Page</a></li>
								</ul>
							</li>
							<li><a href="team.html" title="">Team</a>
								<ul>
									<li><a href="team.html" title="">Team Page</a></li>
									<li><a href="team-detail.html" title="">Team Detail Page</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="courses.html" title="">Courses</a>
						<ul>
							<li><a href="courses.html" title="">Courses Page Style 1</a></li>
							<li><a href="courses2.html" title="">Courses Page Style 2</a></li>
							<li><a href="course-detail.html" title="">Courses Detail</a></li>
						</ul>
					</li>
					<li><a href="gallery1.html" title="">Gallery Styles</a>
						<ul>
							<li><a href="gallery1.html" title="">Gallery Style 1</a></li>
							<li><a href="gallery2.html" title="">Gallery Style 2</a></li>
							<li><a href="gallery3.html" title="">Gallery Style 3</a></li>
						</ul>
					</li>
					<li><a href="about.html" title="">About Us</a></li>
					<li><a href="contact.html" title="">Contact Us</a></li>
				</ul>
			</div>			
		</div><!-- Responsive Header -->


		<div class="rows">
		 <div class="col-xs-12 col-md-12" style="">
		
		<div class="lf-border-box">
						<h3 class="bg-title" data-spm-anchor-id="a2obv.11410909.0.i4.43057321mskhFk" th:text="${position.name}">高德-Java服务端开发工程师  <span>     <img src="//job.alibaba.com/assets/zhaopin/images/new-icon.png"> </span></h3>
			
			<div class="detail-box" style="word-wrap: break-word;">
								<table class="detail-table box-border">
					<tbody><tr>
						<td width="15%" class="text-right">发布时间：</td>
						<td width="30%" th:text="${#dates.format(position.ceatedate,'yyyy-MM-dd')}">2018-10-30</td>
						<td width="15%" class="text-right">工作地点：</td>
						<td width="15%" th:text="${position.place}">北京</td>
						<td width="15%" class="text-right" >工作年限：</td>
						<td width="10%" th:text="${position.place}">三年以上</td>
					</tr>
					<tr>
						<td class="text-right">所属部门：</td>
						<td th:text="${position.dept}">高德</td>
						<td class="text-right">学 &nbsp;&nbsp;历：</td>
						<td th:text="${position.education}">本科</td>
						<td class="text-right">招聘人数：</td>
						<td th:text="${position.num}">
						    2  						</td>
					</tr>
				</tbody></table>
				
								<h4 class="detail-title">岗位描述：</h4>
				<p class="detail-content" th:text="${position.descirption}">
				  1、负责数据回传收容平台的数据接收、存储、转发和下发等服务端架构设计和开发工作；<br>2、能够找到系统的瓶颈和解决办法，提高系统性能；
								</p>
				<h4 class="detail-title">岗位要求：</h4>
				<p class="detail-content" data-spm-anchor-id="a2obv.11410909.0.i1.43057321mskhFk" th:text="${position.ask}">
				  1、全日制统招本科及以上学历，计算机、软件或地理信息（GIS）相关专业；<br>2、3年以上Java开发经验，熟练使用Java进行服务端开发，精通多线程编程，掌握常用的设计模式；<br>3、熟悉JVM，包括内存模型、类加载机制以及性能优化；<br>4、熟练应用Spring\MyBatis等常见Java开源框架；<br>5、熟练掌握MQ、Cache、NoSQL应用及原理；<br>6、熟悉Linux/Unix系统，熟悉Maven、Git使用；<br>7、拥有优秀的学习能力和强烈的求知欲，能适应工作压力，具备团队协作精神；<br>8、掌握PHP、Ruby、Pyhton、Node.js选其一者优先；<br>9、具有GitHub开源项目者优先，对代码洁癖者优先；
								</p>
				<p data-spm-anchor-id="a2obv.11410909.0.i2.43057321mskhFk">
				&nbsp;
				</p>
				<p>&nbsp;</p>
				<p class="detail-content">
				  
								</p>
                <div>
                    <span>
                        <p style="color: #ff6600;">申请此职位表明您已阅读并同意及关联公司的《<a href="http://zhuanti.alibaba-inc.com/markets/recruit/recruitPrivicy" target="_blank">申请工作机会须知</a>》。</p>
                    </span>
                </div>
								<div class="li-action-box">
											
										
				</div>
											</div>
		</div>
		
		
		
		
		
		</div>
		
		 
	<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">
  
  
  
  <input id="myApply" class="big-org-button "    th:attr="name=${position.id}" token="NVTFxS2LgEs" value="申请岗位"  type="button"></div>
  
  
  <div class="col-xs-6 col-md-4"></div>
</div>


		
		<footer>
			<div th:include="views/head/footer :: copyfooter"></div> 
		</footer><!-- Footer -->

		 <div  class="bottom-footer">
			<div th:include="views/head/bottom-footer :: bottom"></div> 
		</div><!-- Bottom Footer -->
		<!-- <input type="hidden" id="count" name="count" th:value="${count}"> -->
	</div>


	<script>
    $(function(){
    $("#myApply").click(function(){
				var id=$(this).attr('name');
				var path='get_position.html?id='+id;
				window.open(path,"_self");
		})	
    });
</script>
</body>
</html>


