<!DOCTYPE html>
<html>
  <head>
    <title>adminhead.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
<!-- Styles -->
<!-- Styles -->
		
  </head>
  
  <body>
			<div  th:fragment="copy" >
			<ul class="layui-nav layui-bg-green"">
				  <li class="layui-nav-item">
					    <a href="admin_index.html">后台首页</a>
					  </li>
				   <li class="layui-nav-item">
					    <a href="index.html">返回前台首页</a>
					  </li> 
			</ul>
			</div>
  </body>
</html>
