<!DOCTYPE html>
<html>
  <head>
    <title>adminfooter.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
   <div class="layui-footer footer footer-index" th:fragment="foot">
  <div class="layui-main">
    <p style="text-align:center;">© 2018 <a href="index.html">后台管理</a> 版权所有</p>
    <p style="text-align:center;">
      	倾情出品
    </p>
  </div>
</div>

  </body>
</html>
