<!DOCTYPE html>
<html>
  <head>
    <title>login.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
 <link rel="stylesheet" href="/static/frame/layui/css/layui.css">
    <link rel="stylesheet" href="/static/frame/static/css/style.css">
    <link rel="icon" href="/static/frame/static/image/code.png">
  </head>
  
 <body >
<div class="login-main">
    <header class="layui-elip">管理系统后台登录</header>
    <form class="layui-form"  >
    	<!-- <input type="hidden" name="path" value="login"> -->
        <div class="layui-input-inline">
            <input type="text" name="email" id="email"required lay-verify="required" placeholder="名称" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" name="password" id="password" required lay-verify="required" placeholder="密码" autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-form-item">
     <!-- <div class="layui-inline">
      <label class="layui-form-label">请选择</label>
      <div class="layui-input-inline">
        <select name="" lay-verify="required" lay-search="">
          <option value=""></option>
          <option value="1" >普通用户</option>
          <option value="2">兼职老师</option>
           <option value="3">管理员</option>
        </select>
      </div>
    </div>
  </div>-->
        <div class="layui-input-inline login-btn">
            <button lay-submit="" lay-filter="demo1" class="layui-btn">登录</button>
        </div>
        <hr/>
        <!--<div class="layui-input-inline">
            <button type="button" class="layui-btn layui-btn-primary">QQ登录</button>
        </div>
        <div class="layui-input-inline">
            <button type="button" class="layui-btn layui-btn-normal">微信登录</button>
        </div>-->
        <!-- <p><a href="javascript:;" class="fl">立即注册</a><a href="javascript:;" class="fr">忘记密码？</a></p> -->
    </form>
</div>


<script src="/static/frame/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['form'], function () {
        // 操作对象
        var form = layui.form
                , $ = layui.jquery;
		form.render();
       form.on('submit(demo1)', function(data){
        	console.log(JSON.stringify(data.field));
        	$.ajax({ 
			    type:'post',  
			    url:'/login_backuser', 
			    cache: false,
			    data:JSON.stringify(data.field),  
			    dataType : 'json',
		    	 contentType: "application/json; charset=utf-8",
			    success:function(data){
			    	if(data.state==1){
			    		 alert('login success');
			    		 setTimeout(function(){ window.open("admin_index.html","_self"); }, 1000); 
			    	}else{
			    		 alert('login error，Please check if the input is correct');
			    	}
			    },
			    error:function(){ 
			     alert("login error，Please check if the input is correct ")
			    }
	   		})
	   		return false;
        });


    });
</script>
</body>
</html>
