<!DOCTYPE html>
<html>
  <head>
    <title>更新角色</title>
	
     <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
	 <link rel="stylesheet" href="/static/frame/layui/css/layui.css">
    <link rel="stylesheet" href="/static/frame/static/css/style.css">
    <link rel="icon" href="/static/frame/static/image/code.png">
  </head>
  <script src="/static/js/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/static/frame/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"  th:href="@{/static/css/bootstrap.min.css}"/>

  <link rel="stylesheet" type="text/css"  th:href="@{/static/css/style.css}" href="/static/css/style.css"  />
  <style>
  input,
textarea{
    float:none;
    width:15px;
    height:60px;
    background:#fbfbfb;
    padding:20px 40px;
    font-family:montserrat;
    font-size:12px;
    color:#8c8c8c;
    border:0;
    margin-bottom:5px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -ms-border-radius:40px;
    -o-border-radius:40px;
    border-radius:40px;
}
  
  </style>
  <body>
  
  <div th:include="views/admin/adminheads :: copy"></div> 



<hr class="layui-bg-gray">
<hr class="layui-bg-gray">
<div class="" style="top:0px; ">
<form class=""  id="registerform" >
 	<input type="hidden" name="id" th:value="${role.id}" id="id"
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">name</label>
            <div class="layui-input-inline">
                <input type="text" name="name" th:value="${role.name}" id="name" lay-verify="" autocomplete="off" class="layui-input" placeholder="请输入角色名">
            </div>
            <div class="layui-form-mid layui-word-aux">请务必填写角色名</div>
        </div>
        
          <div class="layui-form-item">
    <label class="layui-form-label">请选择权限</label>
    <div class="layui-input-block">
     			<div  >
	                  <div  id="tlist" class="checkbox">
					    <label>
					      <input type="checkbox" > Check me out
					    </label>
					  </div>
       			</div>
    </div>
  </div>
    <div class="layui-form-item">
      
    </div>
    
</div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="submitAdd" >立即提交</button>
        </div>
    </div>
</form>
  </div>
 <!--  <div class="layui-col-lg4 layui-col-lg-offset4">
    偏移4列，从而在最右
  </div> -->

<!-- <div th:include="views/admin/adminfooter :: foot"></div>  -->
  </body>
  
</html>
<script>
$(document).ready(function(){
 /*    $("div").html("");
    $("a").click(function(){
//add your code here
    }) */
     var roleid=$('#id').val();
    alert(roleid);
     $.ajax({
            url:"/loadupdatemenus",
            type: "POST",
              data:{roleid:roleid},
            dataType : 'json',
            success: function(data) { 
                //var Str=JSON.stringify(data); 
                //alert(Str);
                var userlist=data.data2;
                var size = data.count2;
                
                var list2=data.data1;
                 var size2=data.count1;
                $('#tlist').html("");
                var content="";
                 for(var i=0;i<size;i++){
                     var entity = userlist[i];
                    /*  <input type="checkbox" name="like" value="3" title="发呆"> 
                    	 <label>
					      <input type="checkbox" > Check me out
					    </label>
                    
                    */
                     var begin= "<label>"+"<input type='checkbox' name='menus' value='"+entity.id+ "' > "+entity.text+"</label>";
                      
                     
                       for(var j=0;j<size2;j++){
                     var menu=list2[j];
                     	if(menu.menuid==entity.id){
                     	begin="<label>"+"<input type='checkbox' name='menus' checked='checked' value='"+entity.id+ "' > "+entity.text+"</label>";
                     	}
                     
                     }
                      
                     var num=i+1;
                     if(num%5==0&&num>0){
                     content += "<br/>";
                     
                     }
                     console.log(begin);
                     content +=begin;
                  }
                  $('#tlist').html(content);
             },
         }); 
    
    
    $("#submitAdd").click(function(){
	  var targetUrl = $("#registerform").attr("action");    
	  var data = $("#registerform").serialize();
	  var name=$("#name").val(); /* var address=$("#address").val(); var email=$("#email").val();
	  var age=$("#age").val(); var tel=$("#tel").val(); var password=$("#password").val(); */
	  var id=$("#id").val();
	   var arr = new Array();
            $("input:checkbox[name='menus']:checked").each(function(i){
                arr[i] = $(this).val();
            });
	  var ids=arr.join(",");//将数组合并成字符串
	  var postdata = {id:id,name:name,status:ids};
	  var pdata=JSON.stringify(postdata);
	  
	  alert(pdata); 
	  console.log(pdata); 
	   $.ajax({ 
	    type:'post',  
	    url:'/updaterole', 
	    cache: false,
	    data:pdata, 
	     dataType : 'json',
	      contentType: "application/json; charset=utf-8",
	    success:function(data){
	    	if(data.state==1){
	    /* 	setTimeout(function(){ window.open("rolelist.html","_self"); }, 1500);  */
	    		 alert('更新 success');
	    		  window.location.href = "rolelist.html";
	    	}else{
	    		 alert('更新 error，Please check if the input is correct');
	    	}
	    },
	    error:function(){ 
	     alert("更新 error，Please check if the input is correct ")
	    }
	   })
	    return false;
	})
})
	
</script>