<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ypf.cn.dao.PartteacherMapper" >
  <resultMap id="BaseResultMap" type="com.ypf.cn.domain.Partteacher" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="descirption" property="descirption" jdbcType="VARCHAR" />
    <result column="short_video" property="shortVideo" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, age, email, address, descirption, short_video, status, createdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from partteacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from partteacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ypf.cn.domain.Partteacher" >
    insert into partteacher (id, name, age, 
      email, address, descirption, 
      short_video, status, createdate
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{descirption,jdbcType=VARCHAR}, 
      #{shortVideo,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createdate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ypf.cn.domain.Partteacher" >
    insert into partteacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="descirption != null" >
        descirption,
      </if>
      <if test="shortVideo != null" >
        short_video,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="descirption != null" >
        #{descirption,jdbcType=VARCHAR},
      </if>
      <if test="shortVideo != null" >
        #{shortVideo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ypf.cn.domain.Partteacher" >
    update partteacher
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="descirption != null" >
        descirption = #{descirption,jdbcType=VARCHAR},
      </if>
      <if test="shortVideo != null" >
        short_video = #{shortVideo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ypf.cn.domain.Partteacher" >
    update partteacher
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      descirption = #{descirption,jdbcType=VARCHAR},
      short_video = #{shortVideo,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByMap"  resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select <include refid="Base_Column_List"/> from partteacher where 1=1 
        <if test="userid!=null">
			and userid = #{userid,jdbcType=INTEGER}
	 	</if>
	 	<if test="userSalary!=null">
			and userSalary >=#{userSalary,jdbcType=NUMERIC}
	 	</if>
        <if test="username!=null">
			and username like #{username,jdbcType=VARCHAR}
	 	</if>
	 	<if test="type!=null">
			and type = #{type,jdbcType=VARCHAR}
	 	</if>
	 	<if test="startPos!=null">
			limit #{startPos},#{limit}
	 	</if>
	 	
	 	<!-- startPos=(page-1)*limit从第几条数据开始查询  pagesize每页显示几条 -->
    </select>
     
    <select id="findcountbycondition"  resultType="Integer" parameterType="java.util.HashMap">
        select count(*) from partteacher where 1=1 
        <if test="userid!=null">
			and userid = #{userid,jdbcType=INTEGER}
	 	</if>
	 	<if test="userSalary!=null">
			and userSalary >=#{userSalary,jdbcType=NUMERIC}
	 	</if>
        <if test="username!=null">
			and username like #{username,jdbcType=VARCHAR}
	 	</if>
	 	<if test="type!=null">
			and type = #{type,jdbcType=VARCHAR}
	 	</if>
    </select>
</mapper>