<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ypf.cn.dao.ResumeMapper" >
 <resultMap id="BaseResultMap" type="com.ypf.cn.domain.Resume" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ryear" property="ryear" jdbcType="INTEGER" />
    <result column="rdescirption" property="rdescirption" jdbcType="VARCHAR" />
    <result column="rexperience" property="rexperience" jdbcType="VARCHAR" />
    <result column="remail" property="remail" jdbcType="VARCHAR" />
    <result column="rtel" property="rtel" jdbcType="VARCHAR" />
    <result column="rage" property="rage" jdbcType="INTEGER" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="videopath" property="videopath" jdbcType="VARCHAR" />
    <result column="raddress" property="raddress" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="rstatus" property="rstatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ryear, rdescirption, rexperience, remail, rtel, rage, rname, pid, videopath, 
    raddress, pname, rstatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resume
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resume
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ypf.cn.domain.Resume" >
    insert into resume (id, ryear, rdescirption, 
      rexperience, remail, rtel, 
      rage, rname, pid, videopath, 
      raddress, pname, rstatus
      )
    values (#{id,jdbcType=INTEGER}, #{ryear,jdbcType=INTEGER}, #{rdescirption,jdbcType=VARCHAR}, 
      #{rexperience,jdbcType=VARCHAR}, #{remail,jdbcType=VARCHAR}, #{rtel,jdbcType=VARCHAR}, 
      #{rage,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, #{videopath,jdbcType=VARCHAR}, 
      #{raddress,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR}, #{rstatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ypf.cn.domain.Resume" >
    insert into resume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ryear != null" >
        ryear,
      </if>
      <if test="rdescirption != null" >
        rdescirption,
      </if>
      <if test="rexperience != null" >
        rexperience,
      </if>
      <if test="remail != null" >
        remail,
      </if>
      <if test="rtel != null" >
        rtel,
      </if>
      <if test="rage != null" >
        rage,
      </if>
      <if test="rname != null" >
        rname,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="videopath != null" >
        videopath,
      </if>
      <if test="raddress != null" >
        raddress,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="rstatus != null" >
        rstatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ryear != null" >
        #{ryear,jdbcType=INTEGER},
      </if>
      <if test="rdescirption != null" >
        #{rdescirption,jdbcType=VARCHAR},
      </if>
      <if test="rexperience != null" >
        #{rexperience,jdbcType=VARCHAR},
      </if>
      <if test="remail != null" >
        #{remail,jdbcType=VARCHAR},
      </if>
      <if test="rtel != null" >
        #{rtel,jdbcType=VARCHAR},
      </if>
      <if test="rage != null" >
        #{rage,jdbcType=INTEGER},
      </if>
      <if test="rname != null" >
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="videopath != null" >
        #{videopath,jdbcType=VARCHAR},
      </if>
      <if test="raddress != null" >
        #{raddress,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="rstatus != null" >
        #{rstatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ypf.cn.domain.Resume" >
    update resume
    <set >
      <if test="ryear != null" >
        ryear = #{ryear,jdbcType=INTEGER},
      </if>
      <if test="rdescirption != null" >
        rdescirption = #{rdescirption,jdbcType=VARCHAR},
      </if>
      <if test="rexperience != null" >
        rexperience = #{rexperience,jdbcType=VARCHAR},
      </if>
      <if test="remail != null" >
        remail = #{remail,jdbcType=VARCHAR},
      </if>
      <if test="rtel != null" >
        rtel = #{rtel,jdbcType=VARCHAR},
      </if>
      <if test="rage != null" >
        rage = #{rage,jdbcType=INTEGER},
      </if>
      <if test="rname != null" >
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="videopath != null" >
        videopath = #{videopath,jdbcType=VARCHAR},
      </if>
      <if test="raddress != null" >
        raddress = #{raddress,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="rstatus != null" >
        rstatus = #{rstatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ypf.cn.domain.Resume" >
    update resume
    set ryear = #{ryear,jdbcType=INTEGER},
      rdescirption = #{rdescirption,jdbcType=VARCHAR},
      rexperience = #{rexperience,jdbcType=VARCHAR},
      remail = #{remail,jdbcType=VARCHAR},
      rtel = #{rtel,jdbcType=VARCHAR},
      rage = #{rage,jdbcType=INTEGER},
      rname = #{rname,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      videopath = #{videopath,jdbcType=VARCHAR},
      raddress = #{raddress,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR},
      rstatus = #{rstatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByMap"  resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select <include refid="Base_Column_List"/> from resume where 1=1 
        <if test="id!=null">
			and id = #{id,jdbcType=INTEGER}
	 	</if>
	 	<if test="userSalary!=null">
			and userSalary >=#{userSalary,jdbcType=NUMERIC}
	 	</if>
       <if test="rname!=null">
			and rname  LIKE CONCAT('%',#{rname},'%') 
	 	</if>
	 	<if test="type!=null">
			and type = #{type,jdbcType=VARCHAR}
	 	</if>
	 	<if test="startPos!=null">
			limit #{startPos},#{limit}
	 	</if>
	 	
	 	<!-- startPos=(page-1)*limit从第几条数据开始查询  pagesize每页显示几条 -->
    </select>
     
    <select id="findcountbycondition"  resultType="Integer" parameterType="java.util.HashMap">
        select count(*) from  resume  where 1=1 
        <if test="id!=null">
			and id = #{id,jdbcType=INTEGER}
	 	</if>
	 	<if test="userSalary!=null">
			and userSalary >=#{userSalary,jdbcType=NUMERIC}
	 	</if>
       <if test="rname!=null">
			and rname  LIKE CONCAT('%',#{rname},'%') 
	 	</if>
	 	<if test="type!=null">
			and type = #{type,jdbcType=VARCHAR}
	 	</if>
    </select>
  
  
</mapper>