<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypf.cn.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.ypf.cn.domain.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="group_" jdbcType="VARCHAR" property="group" />
		<result column="deleteAt" jdbcType="TIMESTAMP"
			property="deleteat" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="age" jdbcType="INTEGER" property="age" />
		<result column="tel" jdbcType="VARCHAR" property="tel" />
		<result column="sex" jdbcType="VARCHAR" property="sex" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="email" jdbcType="VARCHAR" property="email" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, password, group_, deleteAt, address, age, tel,
		sex, status,
		email
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ypf.cn.domain.User">
		insert into user (id, name,
		password,
		group_, deleteAt, address,
		age, tel, sex, status,
		email)
		values
		(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{group,jdbcType=VARCHAR},
		#{deleteat,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR},
		#{age,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR},
		#{sex,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.ypf.cn.domain.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="group != null">
				group_,
			</if>
			<if test="deleteat != null">
				deleteAt,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="email != null">
				email,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="group != null">
				#{group,jdbcType=VARCHAR},
			</if>
			<if test="deleteat != null">
				#{deleteat,jdbcType=TIMESTAMP},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.ypf.cn.domain.User">
		update user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="group != null">
				group_ = #{group,jdbcType=VARCHAR},
			</if>
			<if test="deleteat != null">
				deleteAt = #{deleteat,jdbcType=TIMESTAMP},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.ypf.cn.domain.User">
		update user
		set name = #{name,jdbcType=VARCHAR},
		password
		= #{password,jdbcType=VARCHAR},
		group_ = #{group,jdbcType=VARCHAR},
		deleteAt = #{deleteat,jdbcType=TIMESTAMP},
		address =
		#{address,jdbcType=VARCHAR},
		age = #{age,jdbcType=INTEGER},
		tel =
		#{tel,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=VARCHAR},
		status =
		#{status,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<select id="selectByLogin" resultMap="BaseResultMap"
		parameterType="com.ypf.cn.domain.User">
		select
		<include refid="Base_Column_List" />
		from user where 1=1
		<if test="email!=null">
			and email = #{email,jdbcType=VARCHAR}
		</if>
		<if test="name!=null">
			and name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="tel!=null">
			and tel = #{tel,jdbcType=VARCHAR}
		</if>
		<if test="password!=null">
			and password =#{password,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from user where 1=1
		<if test="id!=null">
			and id = #{id,jdbcType=INTEGER}
		</if>

		<if test="roleid!=null">
			and roleid = #{roleid,jdbcType=INTEGER}
		</if>
		<if test="name!=null">
			and name LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="is_admin!=null">
			and is_admin =#{is_admin,jdbcType=VARCHAR}
		</if>
		<if test="startPos!=null">
			limit #{startPos},#{limit}
		</if>

		<!-- startPos=(page-1)*limit从第几条数据开始查询 pagesize每页显示几条 -->
	</select>

	<select id="findcountbycondition" resultType="Integer"
		parameterType="java.util.HashMap">
		select count(*) from user where 1=1
		<if test="id!=null">
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="roleid!=null">
			and roleid = #{roleid,jdbcType=INTEGER}
		</if>
		<if test="name!=null">
			and name LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="is_admin!=null">
			and is_admin =#{is_admin,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>