<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ypf.cn.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.ypf.cn.domain.User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="user_sn" jdbcType="VARCHAR" property="userSn" />
		<result column="user_name" jdbcType="VARCHAR"
			property="userName" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
		<result column="first_name" jdbcType="VARCHAR"
			property="firstName" />
		<result column="last_name" jdbcType="VARCHAR"
			property="lastName" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="enabled" jdbcType="BIT" property="enabled" />
		<result column="last_password_reset_date" jdbcType="TIMESTAMP"
			property="lastPasswordResetDate" />
		<result column="deleted" jdbcType="BIT" property="deleted" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_sn, user_name, password, salt, first_name,
		last_name, email,
		enabled, last_password_reset_date,
		deleted
	</sql>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from user
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ypf.cn.domain.User">
		insert into user (id, user_sn,
		user_name,
		password, salt, first_name,
		last_name, email, enabled,
		last_password_reset_date, deleted)
		values (#{id,jdbcType=INTEGER},
		#{userSn,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR},
		#{firstName,jdbcType=VARCHAR},
		#{lastName,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR},
		#{enabled,jdbcType=BIT},
		#{lastPasswordResetDate,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
	</insert>
	<insert id="insertSelective"
		parameterType="com.ypf.cn.domain.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userSn != null">
				user_sn,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="firstName != null">
				first_name,
			</if>
			<if test="lastName != null">
				last_name,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="enabled != null">
				enabled,
			</if>
			<if test="lastPasswordResetDate != null">
				last_password_reset_date,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userSn != null">
				#{userSn,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="firstName != null">
				#{firstName,jdbcType=VARCHAR},
			</if>
			<if test="lastName != null">
				#{lastName,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="enabled != null">
				#{enabled,jdbcType=BIT},
			</if>
			<if test="lastPasswordResetDate != null">
				#{lastPasswordResetDate,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.ypf.cn.domain.User">
		update user
		<set>
			<if test="userSn != null">
				user_sn = #{userSn,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				salt = #{salt,jdbcType=VARCHAR},
			</if>
			<if test="firstName != null">
				first_name = #{firstName,jdbcType=VARCHAR},
			</if>
			<if test="lastName != null">
				last_name = #{lastName,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="enabled != null">
				enabled = #{enabled,jdbcType=BIT},
			</if>
			<if test="lastPasswordResetDate != null">
				last_password_reset_date =
				#{lastPasswordResetDate,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.ypf.cn.domain.User">
		update user
		set user_sn = #{userSn,jdbcType=VARCHAR},
		user_name = #{userName,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		salt = #{salt,jdbcType=VARCHAR},
		first_name = #{firstName,jdbcType=VARCHAR},
		last_name =
		#{lastName,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		enabled = #{enabled,jdbcType=BIT},
		last_password_reset_date =
		#{lastPasswordResetDate,jdbcType=TIMESTAMP},
		deleted =
		#{deleted,jdbcType=BIT}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByMap" resultMap="BaseResultMap"
		parameterType="java.util.HashMap">
		select
		<include refid="Base_Column_List" />
		from user where 1=1
		<if test="id!=null">
			and id = #{id,jdbcType=INTEGER}
		</if>

		<if test="userName != null">
			#{userName,jdbcType=VARCHAR},
		</if>
		<if test="name!=null">
			and name LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="is_admin!=null">
			and is_admin =#{is_admin,jdbcType=VARCHAR}
		</if>
		<if test="startPos!=null">
			limit #{startPos},#{limit}
		</if>

		<!-- startPos=(page-1)*limit从第几条数据开始查询 pagesize每页显示几条 -->
	</select>

	<select id="findcountbycondition" resultType="Integer"
		parameterType="java.util.HashMap">
		select count(*) from user where 1=1
		<if test="id!=null">
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="userName != null">
			#{userName,jdbcType=VARCHAR},
		</if>
		<if test="name!=null">
			and name LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="is_admin!=null">
			and is_admin =#{is_admin,jdbcType=VARCHAR}
		</if>
		<if test="userSalary!=null">
			and userSalary >=#{userSalary,jdbcType=NUMERIC}
		</if>
	</select>
</mapper>